header{
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
body {
    background-color: black !important;
    color: white; /* Set text color to white for contrast */
}
